.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1E3E62;
  padding: 10px 20px;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.5em;
}

.logo-image {
  margin-right: 10px;
  border-radius: 20px;
}

.menu-icon {
  display: none;
  font-size: 2em;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  color: #fff;
  margin: 0 15px;
}

.nav-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  background-color: #1E3E62;
  padding: 10px 0;
  border-radius: 0 0 35px 35px;
}

.nav-links.hide {
  display: none;
}

@media (max-width: 800px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links.active {
    display: flex;
  }
}

@media (max-width: 1200px) {
  .navbar {
    padding: 10px 10px;
  }

  .nav-links li {
    margin: 0 10px;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 1.2em;
  }

  .nav-links li {
    font-size: 0.9em;
  }
}
